<div
  class="hero-wrap hero-bread"
  style="background-image: url('images/bg_1.jpg')"
>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="index.html">Home</a></span>
          <span>Checkout</span>
        </p>
        <h1 class="mb-0 bread">Checkout</h1>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ftco-animate">
          <div class="billing-form">
            <h3 class="mb-4 billing-heading">Billing Details</h3>
            <div class="row align-items-start">
              <div class="col-md-6">
                <div class="form-group">
                  <app-form-control
                    htmlFor="firstName"
                    label="First name"
                    [control]="checkoutForm.controls.firstName"
                  >
                    <input
                      id="firstName"
                      type="text"
                      class="form-control"
                      placeholder="John"
                      formControlName="firstName"
                    />
                  </app-form-control>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <app-form-control
                    htmlFor="lastName"
                    label="Last name"
                    [control]="checkoutForm.controls.lastName"
                  >
                    <input
                      id="lastName"
                      type="text"
                      class="form-control"
                      placeholder="Doe"
                      formControlName="lastName"
                    />
                  </app-form-control>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <app-form-control
                    htmlFor="address"
                    label="Address"
                    [control]="checkoutForm.controls.address"
                  >
                    <input
                      id="address"
                      type="text"
                      class="form-control"
                      placeholder="House number and street name"
                      formControlName="address"
                    />
                  </app-form-control>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <app-form-control
                    htmlFor="province"
                    label="Province / City"
                    [control]="checkoutForm.controls.province"
                  >
                    <div class="select-wrap">
                      <div class="icon">
                        <span class="ion-ios-arrow-down"></span>
                      </div>
                      <select id="province" name="province" class="form-control" formControlName="province">
                        <option value="0" disabled>Select Province / City</option>
                        @for (value of provinces; track $index) {
                        <option [value]="value.code">{{ value.name }}</option>
                        }
                      </select>
                    </div>
                  </app-form-control>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <app-form-control
                    htmlFor="phone"
                    label="Phone"
                    [control]="checkoutForm.controls.phone"
                  >
                    <input
                      id="phone"
                      type="tel"
                      class="form-control"
                      placeholder="0123456789"
                      formControlName="phone"
                    />
                  </app-form-control>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <app-form-control
                    htmlFor="email"
                    label="Email Address"
                    [control]="checkoutForm.controls.email"
                  >
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      placeholder="Your email address"
                      formControlName="email"
                    />
                  </app-form-control>
                </div>
              </div>
            </div>
          </div>
          <!-- END -->
        </div>
        <div class="col-xl-5">
          <div class="row mt-5 pt-3">
            <div class="col-md-12 d-flex mb-5">
              <div class="cart-detail cart-total p-3 p-md-4">
                <h3 class="billing-heading mb-4">Cart Total</h3>
                <p class="d-flex">
                  <span>Subtotal</span>
                  <span>{{ cartService.getSubTotal() | currency }}</span>
                </p>
                <p class="d-flex">
                  <span>Delivery</span>
                  <span>$0.00</span>
                </p>
                <p class="d-flex">
                  <span>Discount</span>
                  <span>{{ cartService.getDiscount() | currency }}</span>
                </p>
                <hr />
                <p class="d-flex total-price">
                  <span>Total</span>
                  <span>{{ cartService.getTotal() | currency }}</span>
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="cart-detail p-3 p-md-4">
                <h3 class="billing-heading mb-4">Payment Method</h3>
                @for (method of paymentMethods; track $index) {
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label>
                        <input
                          type="radio"
                          formControlName="paymentMethod"
                          [value]="method.value"
                          class="mr-2"
                        />
                        {{ method.label }}
                      </label>
                    </div>
                  </div>
                </div>
                }

                <div class="form-group">
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label
                        ><input
                          type="checkbox"
                          formControlName="acceptTerms"
                          class="mr-2"
                        />
                        I have read and accept the terms and conditions</label
                      >
                    </div>
                  </div>
                </div>
                <p>
                  <button type="submit" [disabled]="checkoutForm.invalid" class="btn btn-primary py-3 px-4">
                    Place an order
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- .col-md-8 -->
      </div>
    </div>
  </section>
  <!-- .section -->
</form>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px" class="mb-0">
          Subscribe to our Newsletter
        </h2>
        <span
          >Get e-mail updates about our latest shops and special offers</span
        >
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="subscribe-form">
          <div class="form-group d-flex">
            <input
              type="text"
              class="form-control"
              placeholder="Enter email address"
            />
            <input type="submit" value="Subscribe" class="submit px-3" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
